gradle.properties

# Created by .ignore support plugin (hsz.mobi)
.idea
.metals
/typescript-package/coverage/
/typescript-package/coverage/*
/typescript-package/dist/
/typescript-package/dist/*
/typescript-package/node_modules/
/typescript-package/node_modules/*
/.vscode/
/hydro-serving-protos/